# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\More than Universe\Culculation Math\Math44\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
